<%- model_class = ItemContact -%>

<div class="col-md-1"></div>

<div class="col-md-10">

  <ol class="breadcrumb">
    <li><%= link_to "Home", items_path %></li>
    <li><%= link_to @item.name, item_path(@item.id) %></li>
    <li class="active">お問い合わせ</li>
  </ol>

  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">お問い合わせ</div>
      <div class="panel-body">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="col-md-1"></div>