// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "bootstrap-responsive";     //responsiveデザインに対応


body {
  padding-top: 10px;
}

.container > .navbar-collapse > ul {
  margin-left: 320px;
}

.kensaku {
  text-align : center;
}

.font-large {
//  font-weight: bold;
  font-size: large;
}

.table {
  margin-top: 50px;
}

.item-count {
  float: left;
}

.sort {
  float: right;
}

.item-image-body {

}

.main-item-image {

}

.item-image-list {
//  float: left;
  list-style:none;
}

.table-item-detail {
  table-layout: fixed;
  width: 100%;
}

.breadcrumb {
  background:transparent;
}

.breadcrumb li+li:before {
  content:'»';
}